/* Grid CSS */
.header {
  grid-area: header;

  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}

.main {
  grid-area: main;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.sidebar {
  grid-area: sidebar;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "main sidebar";
  gap: 10px;
  padding: 10px;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
  .grid-container{
    padding: 0;
  }
}
